$primary-color: #ddff00;
$secondary-color: #6e7d6c;
$success-color: #a76e28;
$error-color: #7835dc;
$background-color: #faf9f8;
$border-color: #daced7;
$border-focus-color: $primary-color;
$font-family: "Arial", sans-serif;
